@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pagination {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  display: flex;
  background: black;
  border: 2px solid #666;
  padding: 10px 15px;
  height: 25px;
  width: 25px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .paginationItem {
    height: 30px;
    width: 30px;
  }
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border: 3px solid white;
  color: white;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: white;
  font-weight: bold;
  background: black;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: white;
}

footer {
  display: none;
}
@media (min-width: 768px) {
  footer {
    display: block;
  }
}

.crypto__list {
  height: 70vh;
}
